:root {
    --accent-colour: #269aff;
    --accent-hover-colour: #2980B9; 
    --accent-press-colour: #275F80;

    --success-colour: #03BD5B;
    --danger-colour: #dc3545;

    /* Dark theme */
    --dark-colour-main: #121212;
    --dark-colour-secondary: #242427;
    --dark-colour-light: #1a1e26;
    --dark-colour-light2: #2f333a;
    --dark-colour-light3: #535356;
    --dark-accent-colour: #26a1ff;
    


}

/* ///////////////////// Primary Buttons ///////////////////// */
.btn-primary {
    background-color: var(--accent-colour) !important; 
    border-color: var(--accent-colour) !important;
}

.btn-primary:hover {
    background-color: var(--accent-hover-colour) !important;
    border-color: var(--accent-hover-colour) !important;
}

.btn-primary:active {
    background-color: var(--accent-press-colour) !important;
    border-color: var(--accent-press-colour) !important;
}

.btn-primary:visited {
    background-color:  var(--accent-press-colour);
}



.btn-primary.focus,
.btn-primary:focus {
    box-shadow:  0 0 0 0.25rem #275F80 !important;
}

.btn-primary:active {
    color: #fff;
    background-color: var(--accent-press-colour) !important; 
    border-color: var(--accent-press-colour) !important;
}



/* /////////////////// GLOBAL ///////////////////*/

/* ///////////////////// Footer alignment ///////////////////// */
html, body {
    height: 100%;
    margin: 0; 
}

body{
    background-color: #F6F6F6
}

.content {
    flex: 1; /* Allow the content area to grow */
}

/* ///////////////////// Footer Links ///////////////////// */ 
.footer a {
    text-decoration: none;  
    color: #343a40;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #403434;
    text-decoration: none; 
}


/* Nav Bar  */

.sticky-top {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.navbar-scrolled {
    transition: all 0.5s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.active {
    font-weight: 600 !important;
}

/* Profile dropdown */
.profile-pic {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}

.profile-menu .fa-fw {
    margin-right: 20px;
}

.toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}



/* /////////////////// SIDE BAR /////////////////// */

.sidebar .nav-link {
    font-size: 16px;
    color: #6c757d; 
}

.sidebar .nav-link i {
    margin-right: 10px; /* Spacing between icon and text */
}

.sidebar .nav-link:hover {
    color: var(--accent-colour); 
}

.nav-link {
    color: #6c757d; 
    transition: color 0.3s ease;
}

/* Hover effect */
.nav-link:hover {
    color: var(--accent-colour);
}


.nav-link:hover i,
.nav-link:active i {
    color: var(--accent-colour);
}

/* //////////// MAIN - POSTS  //////////// */
.hashtag {
    color: var(--accent-colour);  
    font-weight: 700;
    text-decoration: none;
}

.hashtag:hover {
    text-decoration: underline; 
}

.card-post {
    border-color: transparent !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.coming-soon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333; 
    font-size: 1.5em; 
    text-align: center;
    z-index: 1; /* Ensure it appears above other content */
}



.custom-container {
    max-width: 100%; /* Makes it fluid like .container */
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* Adjust padding for different screen sizes, mimicking .container */
@media (min-width: 576px) { /* sm breakpoint */
    .custom-container {
        max-width: 540px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (min-width: 768px) { /* md breakpoint */
    .custom-container {
        max-width: 720px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (min-width: 992px) { /* lg breakpoint */
    .custom-container {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 1200px) { /* xl breakpoint */
    .custom-container {
        max-width: 1140px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 1400px) { /* xxl breakpoint */
    .custom-container {
        max-width: 1920px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}



.accent-color {
    color: var(--accent-colour); /* accent color */
}

.text-muted2{
    color: #6c757d;
}


/* Used for name badge/flair on profile pages */
.badge-sm {
    font-size: 0.75rem; 
    padding: 0.25rem 0.4rem;  
}

/* Admins have red borders around their pfp */
.img-bordered-admin {
    border: 4px solid #DC3545;
    padding: 2px;
}




.narrow-note {
    background-color: var(--accent-colour);
    color: white;
    text-align: center;
    font-size: 14px;
    z-index: 1001;
    padding-top: 0.5rem;
    padding-bottom: 0;
    max-height: 35px;
    font-weight: 500;
}

#theme-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent; 
    color: var(--accent-colour);
    border-radius: 50%;
}

#theme-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slight dark background on hover */
}








/* DARK */

body.dark{
    background-color: var(--dark-colour-main);
    color: white;
}

.navbar-light{
    background-color: white;
}




body.dark .card{
    background-color: var(--dark-colour-light);
    color: white;
}

body.dark .nav-link{
    color: white;
}

body.dark .bg-body-tertiary {
    background-color: var(--dark-colour-light) !important; 
}

body.dark .bg-white{
    background-color: var(--dark-colour-light) !important;
}


body.dark a{
    color: var(--dark-accent-colour) !important;
}

body.dark .text-muted {
    color: white !important;
}

body.dark .text-muted2 {
    color: white !important;
}

body.dark textarea {
    background-color: var(--dark-colour-light);
    color:white !important;
    border-color: var(--dark-colour-light2);

}

body.dark textarea:focus {
    background-color: var(--dark-colour-light);
    color:white !important;
    border-color: var(--dark-colour-light2);
}

body.dark .form-control::placeholder{
    color:white !important;
}


body.dark input {
    background-color: var(--dark-colour-light);
    color:white;
    border-color: var(--dark-colour-light2);

}


body.dark input:focus {
    background-color: var(--dark-colour-light);
    color:white !important;
    border-color: var(--dark-colour-light2);
}

body.dark .form-control::placeholder{
    color: var(--dark-colour-light3) !important;
}

body.dark .like-button{
    color: white !important;
}


body.dark .like-theme .text-danger{
    color: var(--danger-colour) !important;
}


body.dark .pagination {
    background-color: transparent;
}

body.dark .page-item .page-link {
    color: white;
    background-color: var(--dark-colour-light);
    border: 1px solid var(--dark-colour-light2);
}

body.dark .page-item.active .page-link {
    color: white !important;
    background-color: var(--dark-accent-colour);
    border-color: var(--dark-accent-colour);
}

body.dark .page-item.disabled .page-link {
    color: var(--dark-accent-colour);
    background-color: var(--dark-colour-light);
}

body.dark .dropdown-item{
    background-color: var(--dark-colour-light);
    color: white;
}

body.dark .dropdown-menu.show{
    background-color: var(--dark-colour-light);
    border-color: var(--dark-accent-colour);
}   

body.dark tr th{
    background-color: var(--dark-colour-light2) !important;
    color: white;
}

body.dark tr td{
    background-color: var(--dark-colour-light) !important;
    color: white;
}

body.dark .btn-primary{
    color:white !important;
}

body.dark .card-body-menu {
    background-color: var(--dark-colour-light);
}