{% extends 'base_with_menu.html' %}

{% block page_content %}


<h5 class="mt-2">Profile</h5>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!--  any messages? -->
      {% if messages %}
          <!-- loop messages -->
          {% for category, message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  {{ message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}

      {% endif %}
   {% endwith %}

<!-- Profile -->
<div class="container px-0">
    <div class="card shadow-sm rounded-3 p-4" style="border-color: transparent !important;">
        <div class="row align-items center">
            <!-- Profile picture -->
             <div class="col-md-2 d-flex justify-content-center">
                <img src="{{ user.get_pfp() }}" alt="Profile Picture" 
                class="rounded-circle {% if user.is_admin() %} img-bordered-admin {% endif %}" 
                 style="width: 100px; height: 100px;">
             </div>

             <!-- User name -->
             <div class="col">
                <div class="d-flex justify-content-between me-3">
                    <h3 class="mb-1">
                    <!-- Display username -->
                        {% if user.displayname %}
                            {{ user.displayname }}
                        {% else %}
                            {{ user.get_full_name() }}
                        {% endif %}

                        <!-- Any badges/flairs -->
                        {% if user.is_admin() %}
                        <span class="badge bg-danger badge-sm">Admin</span>
                        {% endif %}
                    </h3>
                
                    <!-- Follow button -->
                    {% if current_user.is_authenticated and current_user != user %}
                    <div class="col-md-2 text-end">
                        <form action="{{ url_for('follow_user', user_id=user.id) }}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-link text-decoration-none" style="color: var( --accent-colour);">
                                {% if current_user.is_following(user) %}
                                    <i class="fas fa-user-minus me-1"></i> Unfollow
                                {% else %}
                                    <i class="fas fa-user-plus me-1"></i> Follow
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                

                <p class="text-muted">@{{ user.username }}</p>

                <div class="d-flex justify-content-between text-center mt-3 me-3">
                    <!-- Total Posts -->
                    <div class="">
                        <h6 class="mb-0">
                            <i class="fas fa-pen-alt me-1"></i> {{ total_posts}}
                        </h6>
                        <small class="text-muted">Posts</small>
                    </div>

                    <!-- Total Liked Posts (Posts that the user has liked) -->
                    <div class="">
                        <h6 class="mb-0">
                            <i class="fas fa-heart me-1"></i> {{ total_liked_posts }}
                        </h6>
                        <small class="text-muted">Liked Posts</small>
                    </div>

                    <!-- Total Likes Received (Total likes on the user's posts) -->
                    <div class="">
                        <h6 class="mb-0">
                            <i class="fas fa-thumbs-up me-1"></i> {{ total_likes_received }}
                        </h6>
                        <small class="text-muted">Total Likes Received</small>
                    </div>
        
                    <!-- Following -->
                    <div class="">
                        <h6 class="mb-0">
                            <i class="fas fa-user-plus me-1"></i> {{ total_following}}
                        </h6>
                        <small class="text-muted">Following</small>
                    </div>
        
                    <!-- Followers -->
                    <div class="">
                        <h6 class="mb-0">
                            <i class="fas fa-users me-1"></i> {{ total_followers }}
                        </h6>
                        <small class="text-muted">Followers</small>
                    </div>
                </div>
             </div>
        </div>

        <!-- Bio Section -->
         <div class="row mt-3">
            <div class="col">
                <h5>Bio:</h5>
                <p>{{ user.bio }}</p>
            </div>
         </div>

    </div>
</div>

{% if posts %}
<hr class="mt-3">
{% endif %}


<!-- User Posts -->
<div class="mt-3">
    {% for post in posts %}
        {% set short_content = True %}
        {% include '/posts/post.html' %}
    {% endfor %}
</div>

<!-- Pagination -->
{% set pagination = posts %}
{% include 'pagination.html' %}

<!-- LIKES script -->
{% include 'posts/like_script.html' %}

{% endblock %}
