{% extends 'layout.html' %}

{% block title %}Page with Menu{% endblock %}

{% block content %}
<div class="custom-container py-5">
    <div class="row">
        <!-- Left Sidebar Menu -->
        <div class="col-12 col-md-2 mb-3 {% if removeRightMenu %}mt-3{% endif %}">
            <div class="card overflow-hidden"
                style="border-color: transparent !important; background-color: transparent !important; position: sticky; top: 5rem;">
                <div class="card-body pt-3 " style="margin-top: -1rem;">
                    <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                        <li class="nav-item mb-1">
                            <a class="nav-link {{ 'accent-color' if current_page == 'home' else '' }}" 
                                href="{{ url_for('home') }}">
                                    <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item mb-1">
                            <a class="nav-link {{ 'accent-color' if current_page == 'feed' else '' }}" 
                            href="{{ url_for('feed') }}">
                                <i class="fas fa-list"></i> Feed
                            </a>
                        </li>
                        <li class="nav-item mb-1">
                            <a class="nav-link {{ 'accent-color' if current_page == 'settings' else '' }}" 
                                href="{{ url_for('settings') }}">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                        </li>
                        <li class="nav-item mb-1">
                            <a class="nav-link {{ 'accent-color' if current_page == 'profile' else '' }}" 
                            href="{{ url_for('profile') }}">
                                <i class="fas fa-user"></i> Profile
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Page Content -->
        <div class="col">
            {% block page_content %}{% endblock %}
        </div>


        {% if removeRightMenu == True %}

        {% else %}
            <!-- Right menu -->
            <div class="col-12 col-md-3 mb-3">
                <div class="card card-post">
                    <div class="card-header pb-0 border-0">
                        <h5 class="">Search</h5>
                    </div>
                    <div class="card-body position-relative">
                        <form action="{{ url_for('search') }}" method="GET">
                            <input placeholder="..." class="form-control w-100" type="text" name="query">
                            <button class="btn btn-dark mt-2"> Search</button>
                        </form>
                    </div>
                </div>

                <!-- Suggested users -->
                {% if suggested_users %}
                <div class="card mt-3 card-post">
                    <div class="card-header pb-0 border-0">
                        <h5 class="">Who to follow</h5>
                    </div>
                    <div class="card-body position-relative">
                        {% for suggested in suggested_users %}

                        <div class="hstack gap-2 mb-3">
                            <div class="avatar">
                                <a href="#!"><img class="avatar-img rounded-circle" alt=""></a>
                            </div>
                            <div class="overflow-hidden">
                                {% if suggested.displayname %}
                                    <!-- If has Displayname, display both -->
                                    <a class="h6 mb-0" href="{{ url_for('user_profile', id=suggested.id) }}">{{ suggested.displayname }}</a>
                                    <p class="mb-0 small text-truncate">@{{ suggested.username }}</p>
                                {% else %}
                                    <!-- Use username for display as well-->
                                    <a class="h6 mb-0" href="{{ url_for('user_profile', id=suggested.id) }}">{{ suggested.username }}</a>
                                    <p class="mb-0 small text-truncate">@{{ suggested.username }}</p>
                                {% endif %}
                                
                               <!-- Display the number of followers or posts -->
                               <small class="text-muted">
                                    {{ suggested.get_follower_count() }} follower{{ 's' if suggested.get_follower_count() != 1 else '' }}
                                   | 
                                    {{ suggested.get_post_count() }} post{{ 's' if suggested.get_post_count() != 1 else '' }}
                                </small>
                            </div>
                            
                            
                            <form action="{{ url_for('follow_user', user_id=suggested.id) }}" method="POST" class="ms-auto" style="display: inline;">
                                <button type="submit" class="btn btn-primary-soft rounded-circle icon-md" style="color: var(--accent-colour);">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </form>
                            
                        </div>
                        {% endfor %}
                    </div>
               
            
                </div>
                {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}