{% extends 'base_with_menu.html' %}

{% block page_content %}
        <!-- Main centre column  -->
        <div class="">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              <!--  any messages? -->
              {% if messages %}
                  <!-- loop messages -->
                  {% for category, message in messages %}
                      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                          {{ message}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor %}

              {% endif %}
           {% endwith %}


           <h3>Ideas Feed</h3>
           <hr>
            <!-- Posts -->
            <div class="mt-3">
                {% if posts.items %}
                    {% for post in posts %}
                        {% set short_content = True %}
                        {% include '/posts/post.html' %}
                    {% endfor %}
                {% else %}
                <!-- No followed users? -->
                    <p class="fs-3 text-center">No posts from followed users.</p>
                    <p class="text-muted text-center">Follow other users to see their posts here in your feed.</p>      

                    <div class="d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='images/followers.png') }}" style="width: 350px;" alt="Followers" class="img-fluid mb-4">       
                    </div>
                {% endif %}
            </div>

        </div>

        
        {% set pagination = posts %}
        {% include 'pagination.html' %}

        <!-- Likes script -->
{% include 'posts/like_script.html' %}
        
{% endblock %}

